@{
    ViewData["Title"] = "ProductDetails";
}
@model Product

<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div class="container">
        <h2>@Model.Name</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.ImageURL" alt="Ürün Resmi" class="img-fluid" />
            </div>
            <div class="col-md-6" id="@Model.Id" data-name="@Model.Name" data-description="@Model.Description" data-price="@Model.Price" data-image="@Model.ImageURL">
                <p>@Model.Description</p>
                <p>Fiyat: @Model.Price TL</p>
                <button class="btn btn-primary" onclick="addToCart('@Html.Raw(Model.Id)')">Sepete Ekle</button>
            </div>
        </div>
    </div>
</body>
</html>

